<div class="column">
		<div class="card contraste p-0 ">

												{% if userdat[7] == 3%}
												{% set oculto = 'is-hidden'%}
												{% endif %}

				<nav class="breadcrumb is-centered is-small-mobile has-bullet-separator is-size-7-mobile" aria-label="breadcrumbs">
						<ul id="tabs">
								<li class="tab is-active" onclick="openTab(event,'useradmin')"><a href="#">Datos de Usuario</a></li>
								<li class="tab {{oculto}}" onclick="openTab(event, 'clientes')"><a href="#">Clientes</a></li>
								<li class="tab {{oculto}}" onclick="openTab(event, 'ventas')"><a href="#">Ventas</a></li>
								<li class="tab {{oculto}}" onclick="openTab(event, 'pagos')"><a href="#" aria-current="page">Metodos de Pago</a></li>
						</ul>
				</nav>

				<div id="useradmin" class="box content-tab p-0" style="display:block">
						<form method="POST" id="usuarios" value="edicion_de_usuarios">
								<div class="columns">
										<div class="column">
												<label class="label">Nombre de Usuario: 
														<input class="input is-link" type="text" name="nombre" placeholder={{user}} value={{user}}>
												</label>
										</div>
										<div class="column">
												<label class="label">Email: 
														<input class="input is-link" type="text" name="email" placeholder={{userdat[2]}} value={{userdat[2]}}>
												</label>
										</div>
								</div>


								<div class="columns">
										<div class="column">
												<label class="label">Password: 
														<input class="input is-link" type="text" name="password" placeholder={{userdat[3]}} value={{userdat[3]}}>
												</label>
										</div>

										<div class="column">
												<label class="label">Telefono Movil: 
														<input class="input is-link" type="text" name="mobil" placeholder={{userdat[10]}} value={{userdat[10]}}>
												</label>
										</div>
								</div>
								<div class="columns">
										<div class="column">
																{% if userdat[7] == 1%}
																{% set oculto2 = 'is-hidden'%}
																{% endif %}
												<label class="label {{oculto2}}">Vendedor: 

														<div>
																<div class="select vendedores is-link {{oculto2}}">
																		<select class='vendedores' name='vendedor'>
																				{% for vendedors in vendedores %}
																				{% if vendedors[1] == vendedor[1]%}
																				<option>{{vendedors[1]}}</option>
																				{% endif %}
																				{% endfor %}

																				{% for vendedors in vendedores %}
																				{% if vendedors[1] != vendedor[1]%}
																				<option>{{vendedors[1]}}</option>
																				{% endif %}
																				{% endfor %}
																		</select>
																</div>
												</label>
														</div>
										</div>

										<div class="column">
												<label class="label {{oculto}}">Valor de Divisa: 
														<input class="input is-link {{oculto}}" type="text" name="divisa" placeholder={{userdat[9]}} value={{userdat[9]}} id="divise2">
												</label>
										</div>
								</div>

								<button class="button is-primary" form="usuarios" type="submit" name="accion" value="editar">Enviar</button>

						</form>
				</div>



				<div id="clientes" class="box content-tab {{oculto}} p-0" style="display:none">
						<div class="panel-block">
								<p class="control has-icons-left">
								<input class="input is-primary" id="buscador" type="text" placeholder="Buscar Cliente">
								<span class="icon is-left">
										<i class="material-icons" aria-hidden="true">search</i>
								</span>
								</p>
						</div>

						<div class="box p-0">
														{% set numbercli = []%}
														{% for cli in listaclientes %}
														{% if cli[8] == userdat[0]%}
														{% set b = numbercli.append(cli) %}
														{% endif %}
														{% endfor %}
														<div class="">Numero de Clientes:   {{numbercli|length}}</div>

								<div class="table-container contraste snap-container">
												<div id="listadotodocli" class=""> {%set listacompleta=[]%}

														{% for item in listaclientes %}
														{% if item[8] == userdat[0] %}
														<div class="card snap">
																<div class="card-header is-size-7-mobile card-header-contrast">&nbsp&nbspID:{{item[0]}}</div>
																<div class="card-content is-size-7-mobile has-text-left delineado">
																		<div class="content">
																				<span class="has-text-weight-medium">Nombre:</span><span class="ml-4">{{item[1]}}</span><br>
																				<span class="has-text-weight-medium">Email:</span><span class="ml-4">{{item[2]}}</span><br>
																				<span class="has-text-weight-medium">Status:</span><span class="ml-4">{{item[5]}}</span><br>
																				<span class="has-text-weight-medium">Telefono:</span><span class="ml-4">{{item[10]}}</span>

																		</div>
																</div>
																{% if item[5] == 'Activo'%}
																{% set chestatus = 'checked'%}
																{%else%}
																{%set chestatus = ''%}
																{% endif%}
																{% if item[7] == 2 or item[7] == 1%}
																{% set  chenivel= 'checked'%}
																{%else%}
																{%set chenivel = ''%}
																{% endif%}
																<footer class="card-footer is-size-7-mobile delineadof">
																		<input type="text" class="input is-hidden" name="aidi{{item[0]}}" value="{{item[0]}}">
																		<div class="card-footer-item">
																				<label class="checkbox">
																						<input type="checkbox" id="onoff{{item[0]}}" {{chestatus}}>
																						Activar Cuenta
																				</label>
																		</div>
																		{% if userdat[0] != 1%}
																		{% set oculto3 = 'is-hidden'%}
																		{% endif %}
																		<div class="card-footer-item {{oculto3}}">
																				<label class="checkbox">
																						<input type="checkbox" id="vendetor{{item[0]}}" {{chenivel}}>
																						Convertir en Vendedor
																				</label>
																		</div>
																		<div class="card-footer-item">

																				<button class="button is-primary" onclick="cliedit({{item[0]}}, 'onoff{{item[0]}}', 'vendetor{{item[0]}}')">Enviar</button>
																		</div>
																</footer>

														</div><br>
														{%endif%}
														{%endfor%}
												</div>
								</div>
						</div>


				</div>


				<div id="ventas" class="box content-tab" style="display:none">
						Ventas
				</div>
				<div id="pagos" class="box content-tab" style="display:none">
						Pagos
				</div>

		</div>
		<hr/>
</div>
