{% block navbar %}

				<!--inicio del navbar-->
				<nav class="navbar is-link" role="navigation" aria-label="main navigation">
						<div class="navbar-brand">
							
										<figure class="image is-64x64 pt-2">
										<img src="static/img/img/betmarlog.png" width="80" height="28" class="is-rounded">
										</figure>
								

								<a class="navbar-item has-text-danger-dark titulo is-size-4" href="/">Netflix Betmar</a>

								<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
										<span aria-hidden="true"></span>
										<span aria-hidden="true"></span>
										<span aria-hidden="true"></span>
								</a>
						</div>

						<div id="navbarBasicExample" class="navbar-menu">
								<div class="navbar-start">
										<a class="navbar-item">
												Home
										</a>

										<a class="navbar-item">
												Documentation
										</a>

								</div>

								<div class="navbar-end">
										<div class="navbar-item">
												<div class="buttons">
														<a class="button is-primary" href="registro">
																<strong>Registro</strong>
														</a>
														<a class="button is-light" id='login' href='login'>
																Ingresar
														</a>
												</div>
										</div>
								</div>
						</div>
				</nav>
				<!--fin del navbar-->



{% endblock%}


