{% block contenido %}

						<div class="card">
<div class="content p-1">
				<fieldset class="fieldset is-6">
						<legend align="left">
								<article class="notification pt-1 pb-1 is-link" >
								Servicios
								</article>
						</legend>
				{% include 'servi.html'%}
				</fieldset>

				<fieldset class="fieldset is-6 mt-1">
						<legend align="left">
								<article class="notification pt-1 pb-1 is-link" >
								Recargas
								</article>
						</legend>
				{% include 'reca.html'%}
				</fieldset>

</div>
				</div>
{% include tabla %}
{% endblock %}
