{% block contenido %}
<div class="box">

		<div class="box"><div class="hero is-link">En Proceso</div>
				<div class="table-container" style="max-height:190px; overflow-y:scroll">
						<table class="table is-narrow is-striped is-size-7-mobile">
								<tbody> {%set listacompleta=[]%}
										{% set a = listacompleta.extend(listareca) %}
										{% set a = listacompleta.extend(listacuenta)  %}
										{% for proceso in listacompleta %}
										{% if proceso[4] == 0%}
										<tr>
												<td>
														{{proceso[2]}}</td>
												{%set orden = proceso[3].split(',')%}
												{% set orden = orden|list %}

												<td>
														{{orden[0]}}</td>
												<td>
														{{orden[1]}}</td>
												<td>
														{{orden[2]}}</td>
												<td>
														{{proceso[4]}}</td>

										</tr>
										{% else %}
										{% if proceso[5] == 0 %}
										<tr>
												<td>
														{{proceso[2]}}</td>

												<td>
														{{proceso[3]}}</td>
												<td>
														{{proceso[4]}}</td>
												<td>
														{{proceso[6]}}</td>
												<td>
														{{proceso[5]}}</td>

										</tr>
										{% endif%}

										{% endif%}
										{% endfor%}
								</tbody>
						</table>
				</div>
		</div>


</div>
<div class="columns">
		<div class="column">
				<div class="box">
						<div class="tag is-link">Historial de Recargas</div>
						<div class="table-container" style="max-height:190px; overflow-y:scroll">
								<table class="table is-narrow is-striped is-size-7-mobile">
										<thead>
												<tr style="position:sticky; top:0; z-index:10; background-color:#3273DC">
														<th>Fecha</th>
														<th>Servicio</th>
														<th>Numero</th>
														<th>Monto</th>
														<th>Estado</th>
												</tr>

										</thead>

										<tbody>
												{% for recargas in listareca %}
												{% if recargas[4] == 1 %}
												<tr>
														<td>
																{{recargas[2]}}</td>
														{%set orden = recargas[3].split(',')%}
														{% set orden = orden|list %}

														<td>
																{{orden[0]}}</td>
														<td>
																{{orden[1]}}</td>
														<td>
																{{orden[2]}}</td>
														<td>
																{{recargas[4]}}</td>

												</tr>
												{% endif%}
												{% endfor%}
										</tbody>
								</table>
						</div>
				</div>
		</div>

		<div class="column">
				<div class="box"><div class="tag is-link">Historial de Cuentas</div>
						<div class="table-container" style="max-height:190px; overflow-y:scroll">
								<table class="table is-narrow is-striped is-size-7-mobile">
										<thead>
												<tr style="position:sticky; top:0; z-index:10; background-color:#3273DC">
														<th>Fecha</th>
														<th>Servicio</th>
														<th>Pantallas</th>
														<th>Fecha de Corte</th>
														<th>Estado</th>
												</tr>

										</thead>

										<tbody>

												{% for cuentas in listacuenta %}
												{% if cuentas[5] == 1%}
												<tr>
														<td>
																{{cuentas[2]}}</td>
														<td>
																{{cuentas[3]}}</td>
														<td>
																{{cuentas[4]}}</td>
														<td>
																{{cuentas[6]}}</td>
														<td>
																{{cuentas[5]}}</td>

												</tr>
												{% endif %}
												{% endfor%}
										</tbody>
								</table>
						</div>
				</div>
		</div>

</div>
{% endblock %}
